subscription_id     = "42c20bc6-0b17-4863-9dd7-36fb9fb16729"
location            = "eastus"
resource_group_name = "openclaw"
cluster_name        = "infra collaboration tools"
environment         = "demo"

# Cheap demo defaults
node_count        = 1
aks_vm_size       = "Standard_B2s"
postgres_sku_name = "B_Standard_B1ms"
postgres_storage_mb = 32768

# Optional override
# kubernetes_version = "1.31.0"
